<article>
  <header>
    <h1><%= @inventory.make %></h1>
  </header>
  <h2>Model</h2>
  <p>
    <%= @inventory.model %>
  </p>
  <h3>Color</h3>
  <p>
    <%= @inventory.color %>
  </p>
  <h3>Dealer Price</h3>
  <p>
    <%= @inventory.saleprice %>
  </p>
  <h3></h3>
</article>
